<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">News Scraper Supreme "Video Game Edition"</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape Articles</a></li>
            <li><a href="https://github.com/thePROZACH25/news-scraper-supreme">Git Repo</a></li>
        </ul>
    </div>
</nav>